$BG_COLOR: #4C4C4C
$CODE_BG: #373B41
$FONT_COLOR: #F87C7C
$FONT_SHADOW: #8D0000
$FONT: 'Courier new'
$CODE_FONT: monospace
$LINK_COLOR: #F87C7C

// Center text
.c
  text-align: center

// Style for license information
.l
  border-bottom: 0px

body
  margin: 5% auto
  padding: 0 10px
  max-width: 650px
  background: $BG_COLOR
  color: $FONT_COLOR
  text-shadow: 0 1px 0 $FONT_SHADOW
  font-family: $FONT
  font-size: 18px
  line-height: 1.6

code
  background: $CODE_BG
  font-family: $CODE_FONT

a
  color: $LINK_COLOR
  border-bottom: 1px solid $LINK_COLOR
  text-decoration: none

a:hover
  border-bottom: 0

h1,
h2
  line-height: 1.3

footer
  padding-top: 5%
  font-size: 12px
